@font-face {
    font-family: "Ubuntu-L";
    src: url("../fonts/Ubuntu-L.ttf");
}

$primary-color: rgb(247, 186, 151);
$secondary-color: #ffe4d4;
$tertiary-color: #ff6913;



h1{
font-family: "arial";
}


body{
    font-family: "Ubuntu-L";
    margin: 0;
    padding: 0;
    background: linear-gradient(white, rgb(209, 209, 209));
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 2px solid $tertiary-color;
}
main{

}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 25px;
    & li{
        padding-right: 20px;

        & a{
            border: 2px solid $secondary-color;
            background-color: $secondary-color;
            border-radius: 20px;
            padding: 10px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            &:hover{
                color: $tertiary-color;
                background-color: $tertiary-color;
            }
        }
    }
}

.signin-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    position: center;
    background-color: $secondary-color;
    border-radius: 20px;
    & h2{
        font-weight: 600;
        text-align: center;
    }
}
